/* -----------------------------------------------IMPORTANTE */
.card-img-overlay {
  padding: 0;
}

/* -----------------------------------------------CENTRAR LAS TARGETAS */
.targetas-padding {
  padding: 3%;
}

/* ------------------------------------------------COLORES DE FONDO LIKE Y DISLIKE */
.color-like {
  background-color: #1d9781;
}

.color-dislike {
  background-color: #f3a106;
}

/* --------------------------------------------voto registrado  y error */
.descripcion-voto-registrado {
  border-radius: 2%;
  position: absolute;
  top: 25%;
  margin-left: 10%;
  background: rgba(34, 34, 34, 0.75);
  height: 300px;
  width: 350px;
  font-size: 20px;
  padding: 25px;
}

.table-mensaje-registro tbody tr td {
  height: 10px;
  padding: 5px;
}

.descripcion-voto-registrado p {
  font-size: 15px;
}

.table-icono i {
  font-size: 35px;
}

.contendor-btn-volvervotar {
  text-align: center;
}

/* --------------------------------------------------DETALLE */

.descripcion-detalle {
  position: absolute;
  top: 30%;
  margin-left: 10%;
  background: rgba(34, 34, 34, 0.75);
  height: 250px;
  width: 450px;
  font-size: 18px;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
}

.descripcion-detalle p {
  padding: 5%;
}

.detalle-nombre-superheroe {
  font-size: 25px;
}

.detalles-opcion-voto {
  width: 100%;
  margin-top: 35px;
}

.detalles-opcion-voto tr {
  height: 35px;
}

.detalle-barra-porcentajes {
  width: 100%;
  height: 35px;
  margin-top: 465px;
}

.detalle-barra-porcentajes tbody {
  width: 100%;
}

.detalle-barra-porcentajes tbody tr td {
  padding-left: 55px;
}

@media (max-width: 1200px) {
  .detalles-opcion-voto {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .detalles-opcion-voto {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .descripcion-detalle {
    height: 220px;
    width: 280px;
  }

  .descripcion-detalle p {
    font-size: 16px;
  }
  .detalles-opcion-voto {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .descripcion-detalle {
    height: 220px;
    width: 260px;
  }

  .descripcion-detalle p {
    font-size: 14px;
  }

  .detalles-opcion-voto {
    margin-top: 40px;
  }
  .descripcion-voto-registrado {
    width: 260px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .descripcion-detalle {
    height: 200px;
    width: 200px;
  }

  .descripcion-detalle p {
    font-size: 13px;
  }

  .detalles-opcion-voto {
    margin-top: 27px;
  }
  .descripcion-voto-registrado {
    width: 230px;
    font-size: 12px;
  }
}

@media (max-width: 228px) {
  .descripcion-detalle {
    height: 200px;
    width: 130px;
  }
  .detalle-nombre-superheroe {
    font-size: 14px;
  }

  .descripcion-detalle p {
    font-size: 12px;
  }
  .detalles-opcion-voto {
    margin-top: 55px;
  }

  .descripcion-voto-registrado {
    width: 180px;
    height: 320px;
    font-size: 3px;
  }
}

/* -----------------------------------targetas */

.targeta-unica {
  margin-bottom: 12px;
}

.targeta-btn-detalle {
  position: static;
  margin-left: 8%;
  margin-top: 5%;
}

.targeta-nombre-superheroe {
  width: 80%;
  position: static;
  margin-top: 210px;
}

.targeta-nombre-heroe {
  font-size: 25px;
}

.targeta-descripcion {
  padding-left: 8%;
}
